/*<![CDATA[*/
.añoPost {
backdrop-filter: blur(10px);
    border: 1px solid #d2d2d2;
    background: #a9002250;
    position: relative;
    bottom: 3px;
    margin-left: 15px;
    padding: 4px 14px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 30px;
    font-family: sans-serif;
}
.imgBlur {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(3px);
    z-index: 2;
}
.container {max-width: unset !important;margin:0 !important}
.main-rules .main {padding:0 !important}
.anuncio {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    margin-bottom: 10px;
  }
  .main .image_poster {
      position: relative;
      width: 100%;
      height: 400px;
  }
  .main .image_poster img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100% !important;
      height: 100%;
      z-index: 1;
      box-shadow: 0 4px 8px rgb(0 0 0 / 16%), 0 6px 16px rgb(0 0 0 / 5%);
      object-fit: cover;
  }
  .main .poster_ttl {
      padding-top: 11rem;
      padding-left: 260px;
      padding-right: 20px;
      border-radius: 0 0 15px 15px;
      position: relative;
      z-index: 2;
      width: max-content;
      color: #fff;
      font-weight: 500;
  }
  .main .poster_ttl .ttl {
      width: 100%;
      display: inline;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
  }
  .info_post {
      display: flex;
      margin-bottom: 24px;
  }
  .info_post .img_post {
      padding: 0 16px;
      width: 250px;
      position: relative;
      z-index: 3;
      margin-top: -22.5rem;
      margin-left: 1rem;
  }
  .info_post .img_post img {
      background: var(--light);
      width: 100%;
      display: block;
      border-radius: 12px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16), 0 6px 16px rgba(0, 0, 0, 0.05);
  }
  .info_post .sinopsis_post {
    width: calc(100% - 285px);
    margin-top: -10rem;
    margin-right: 20px;
    z-index: 2;
    font-weight: 400;
    opacity: 0.8;
    color: var(--text);
    float: left;
  }
  .info_post .sinopsis_post p {
      margin: 0;
      padding: 0;
      max-height: 96px;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: justify;
      white-space: normal;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      font-size: 18px;
  }
  .showtextbtn {
      background: #303030;
      color: var(--text);
      padding: 6px 7px;
      border-radius: 4px;
      border: 0;
      cursor: pointer;
      transition: all .3s;
  }
  .showtextbtn:hover {
      background: var(--siteAll);
      transition: all .3s;
  }
  .showtext {
      -webkit-line-clamp: unset !important;
      max-height: max-content !important;
  }
  .s_hidden {
      display: none;
  }
  .s_forged {
      display: inline !important;
  }
  .info2_post {
      background: #303030;
      width: 100%;
      display: flex;
      justify-content: space-around;
      border-top: 2px solid var(--siteAll);
      border-radius: 0 0 5px 5px;
      margin-bottom: 25px;
  }
  .info2_post .fa-angle-right {
      padding-right: 5px;
      transition: all .2s;
  }
  .type_post {
      color: var(--text);
      padding: 2px 10px;
      border-bottom: solid #3a3a3a;
      cursor: pointer;
      transition: all .2s;
  }
  .type_post:hover {
      border-color: var(--siteAll);
      transition: all .2s;
  }
  .type_post:hover > .fa-angle-right {
      color: var(--siteAll);
      transform: rotateZ(-20deg);
      transition: all .2s;
  }
  .type_post a:hover > .type {
      transform: translateY(-2px);
      transition: all .2s;
  }
  .type_post .type {
      display: inline-block;
      font-size: 20px;
      padding-right: 5px;
      text-transform: capitalize;
      transition: all .2s;
  }
  .type_post .ifr {
      font-size: 13px;
      color: rgba(255, 255, 255, 70%);
      text-transform: capitalize;
  }
  .type_post a {
      color: var(--text);
  }
  .section_post {
      width: 100%;
      background: var(--feature);
      border-radius: 8px;
      padding: 6px 0;
      margin-bottom: 15px;
  }
  .section_post .title_pst {
      border: 0;
      width: max-content;
      margin: 0 auto;
      text-align: center;
      background: #1a1a1a;
      padding: 3px 10px;
      border-radius: 8px;
      font-size: 24px;
      color: var(--siteAll);
      cursor: pointer;
      box-shadow: 0 0 5px #1a1a1a;
      text-transform: capitalize;
  }
  .section_post .title_pst .fa-solid {
      margin-right: 5px;
  }
  .ficha_tecnica {
      width: 100%;
      padding: 0;
      margin-bottom: 20px;
      border: 2px solid var(--feature);
  }
  .ficha_tecnica li {
      border-bottom: 2px solid var(--feature);
      color: var(--text);
      font-size: 18px;
      padding: 4px 10px;
      display: flex;
      justify-content: flex-start;
  }
  .ficha_tecnica li .ttl {
      font-weight: 600;
      text-transform: capitalize;
      padding-right: 5px;
  }
  .ficha_tecnica li p {
      font-weight: 100;
      text-transform: capitalize;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
  }
  .desc_password {
      width: 100%;
      background: var(--siteAll);
      padding: 5px 10px;
      margin-bottom: 10px;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all .2s;
  }
  .desc_password:hover {
      background: #d2d2d2;
      transition: all .2s;
  }
  .desc_password:hover > .ttl_pass {
      color: var(--siteAll) !important;
      transition: all .2s;
  }
  .desc_password:hover > .pass_info {
      color: var(--siteAll) !important;
      border-color: var(--siteAll) !important;
      transition: all .2s;
  }
  .desc_password .ttl_pass {
      color: var(--text);
      text-transform: capitalize;
      padding-right: 10px;
      font-size: 19px;
      transition: all .2s;
  }
  .desc_password .ttl_pass .fa-key {
      padding-right: 5px;
  }
  .desc_password .pass_info {
      background: #1a1a1a50;
      border: 2px solid #1a1a1a;
      padding: 10px 12px;
      border-radius: 25px;
      outline: 0;
      color: var(--text);
      text-align: center;
      font-size: 14px;
      transition: all .2s;
  }
  .section_server {
      width: 100%;
      background: var(--feature);
      border-radius: 5px;
      padding: 6px 12px;
      margin-bottom: 20px;
  }
  .section_server li {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
  }
  .captures_ep {
      width: 100%;
      position: relative;
      display: table;
      border-radius: 12px;
      border: 12px solid var(--feature);
      background-color: var(--feature);
      margin-bottom: 20px;
  }
  .captures_ep img {
      width: 100%;
      height: auto;
      border-radius: 12px;
      display: block;
  }
  .out_card {
  display: none !important;
  }
  .tbl_dsc {
      position: relative;
      overflow: hidden;
      border-radius: 12px;
      max-height: 246px;
      overflow-y: auto;
    }
    .tbl_dsc table tbody tr td a {
      color: #fff;
      border: 0;
      background: transparent;
      display: block;
      padding: 7px 8px;
      cursor: pointer;
      width: 100%;
      font-size: 16px;
      text-transform: uppercase;
      text-decoration: none;
    }
    .tbl_dsc table tbody tr td a:hover {
      background: var(--siteAll);
    }
    body ::-webkit-scrollbar {
      width: 5px;
      height: 5px;
      background: transparent;
    }
    body ::-webkit-scrollbar-thumb {
      background-color: #A02;
      border-radius: 5px;
      padding-left: 5px;
    }
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
      color: #fff;
      border-radius: 5px;
    }
    
    th {
      border: 1px solid #111;
      text-align: left;
      padding: 8px;
      background: #111;
      text-align: center;
      cursor: default;
    }
    
    td {
      border: 1px solid #111;
      text-align: left;
      background: #1c1c1c;
      text-align: center;
      cursor: default;
      transition: all .1s;
    }
    tr:hover > td {
      background: #18181d;
      transition: all .1s;
    }
.container-series {
    position: relative;
    background-color: #111;
    border-radius: 5px;
    overflow: hidden;
    height: 520px;
}
#video_box {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.option {
    position: relative;
    width: 100%;
}
.capi-list-tab {
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 10px;
    list-style-type: none;
    display: table;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
}
.capi-list-tab>li {
    background: #0c0c0c;
    display: table-cell;
    vertical-align: top;
    text-transform: uppercase;
    padding: 10px 0;
    cursor: pointer;
    transition: all .3s;
}
.capi-list-tab>li:hover, .capi-list-tab>li.active {
    background: #0090ffbb;
    transition: all .3s;
}
.capi-list-tab>li>span {
    color: #fff;
    transition: all .2s linear;
}
@media (max-width: 766px){
    .container-series{
        height: 320px;
    }
    .option_tablist{
        font-size: 0;
        transition: all .2s linear;
    }
}
@media (max-width: 380px){
    .container-series{
        height: 210px;
    }
    .option_tablist{
        font-size: 0;
        transition: all .2s linear;
    }
}
#container-passed {
    display: table;
    text-align: center;
    width: 100%;
    margin-top: 10px;
    list-style-type: none;
    padding: 0;
}
.prev {
    background: #0c0c0c;
    border: 0;
    color: #fff;
    padding: 8px 0;
    font-size: 16px;
    margin-right: 0;
    border-radius: 5px 0 0 5px;
    text-transform: uppercase;
    cursor: pointer;
    display: table-cell;
    transition: all .3s;
}
.next {
    background: #0c0c0c;
    border: 0;
    color: #fff;
    padding: 8px 0;
    font-size: 16px;
    margin-left: 0;
    border-radius: 0 5px 5px 0;
    text-transform: uppercase;
    cursor: pointer;
    display: table-cell;
    transition: all .3s;
}
.id_epi {
    display: table-cell;
    background: #1f0808;
    color: #fff;
}
.prev:hover, .next:hover {
    background: #3d0000;
    transition: all .3s;
}
.fa-angle-left {
    margin-right: 15px;
}
.fa-angle-right {
    margin-left: 15px;
}
