/*<![CDATA[*/
.header__logo {
    width: 100%;
    height: 240px;
    position: relative;
    background: #f2f2f2;
    background-image: url(https://i.imgur.com/fbdTks2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}
.circle__top {
    width: 100%;
    height: 150px;
    top: -75px;
    background: #11111170;
    position: absolute;
    border-radius: 50%;
}
.circle2__top {
    width: 100%;
    height: 150px;
    bottom: -75px;
    background: #11111170;
    position: absolute;
    border-radius: 50%;
}
.img__top {
    position: absolute;
    width: 250px;
    bottom: 0;
    right: 50px;
}
.logotype__top {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#ads {margin-top:5px;margin-bottom:5px}
.vrflw_hidden {
	overflow: hidden !important;
}
.pd_hidden {
	margin-top: 60px !important;
}

/* Contenedor de carga */
#loader_win {
    background: #020202;
    width: 100%;
    height: 100%;
    top: 0;
    position: fixed;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    z-index: 10000;
    transition: all .8s;
}
.hidden_win {
    transform: scale(2);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
#loader {
    border: 15px solid #222;
    border-top-color: var(--siteAll);
    border-top-style: groove;
    height: 80px;
    width: 80px;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    animation: loader 1.5s linear infinite;
}
@keyframes loader {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

/* LLAMADO POR JS PARA LOS CARDS */
.ftag-anime {
  background-color: rgba(170, 0, 34, 0.80);
  top: 10px;
  left: 10px;
}
.ftag-ova {
  background-color: #cd00a7cc;
  top: 10px;
  left: 10px;
}
.ftag-extra {
  background-color: #e1772fcc;
  top: 10px;
  left: 10px;
}
.ftag-especial {
  background-color: #08aa00cc;
  top: 10px;
  left: 10px;
}
.ftag-pelicula {
  background-color: rgba(0, 76, 170, 0.80);
  top: 10px;
  left: 10px;
}
.ftag-sub {
  background-color: rgba(43, 61, 79, 0.80);
  bottom: 10px;
  right: 10px;
}
.ftag-latino {
  background-color: rgba(68, 157, 103, 0.80);
  bottom: 10px;
  right: 10px;
}
.image:hover > .layout-hvr > .out_card {
  transform: scale(0) !important;
  transition: all .3s;
}
.out_card {
  position: absolute;
  display: block;
  z-index: 3;
  padding: 2px 6px 0 6px;
  border-radius: 5px;
  color: var(--text);
  font-size: 15px;
  text-transform: uppercase;
  transform: scale(1);
  transition: all .3s;
}

/*! Core (No modificar) {{*/
.widget#LinkList201{
    background: none;
    margin:0;
    padding:0;
    box-shadow: none;
    outline:0;
    border:0;
}


* {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  list-style: none;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: var(--bg);
}
::-webkit-scrollbar-thumb {
  background-color: var(--feature);
  border-radius: 2px;
}
body {
  padding: 90px 20px 0;
  background: var(--bg);
  font-family: 'Baloo Tamma 2', cursive;
  margin: 0;
  padding: 0;
  --siteAll: #A02;
  --cardback: #aa002293;
  --feature: #303030;
  --bg: #111;
  --text: #f2f2f2;
  --hcolor: #18181d;
  --search: #303033;
  --searchout: #111b;
  --searchh: #3f3f3f60;
  --searchbtn: #252527;
  --searchbtnh: #141418;
  --emision: #00c700;
  --imagepst: brightness(0.5);
  --imagemn: .5;
  --text-bg: 255, 255, 255;
}
/* header, navbar, logo, hamburguesa, search*/
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.header {
  background-color: var(--hcolor);
  height: 60px;
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.nav-link {
  color: rgba(var(--text-bg), 0.8);
  text-decoration: none;
}
.nav-left {
  width: max-content;
  display: flex;
}
.nav-right {
  width: 30%;
  display: flex;
  justify-content: right;
}
.logo {
  font-size: 25px;
  font-weight: bold;
  padding: 0;
  line-height: 54px;
  font-family: 'Sansita Swashed', cursive;
}
.mobile-logo {
  display: none;
}
.desktop-logo {
  display: block;
}
.logo p {
  display: inline-block;
  margin: 0;
  padding: 0;
  color: var(--siteAll);
}

.nav-menu {
  display: flex;
  margin-left: 10px;
  padding: 0;
  list-style: none;
}

.fa-house-chimney {
  padding-right: 4px;
}
.fa-square-caret-down {
  padding-left: 4px;
  position: relative;
  top: 1px;
  transition: all .2s;
}
.nav-menu-item:hover > .nav-menu-link > .fa-square-caret-down {
  transform: rotateZ(-180deg);
  padding-left: 0 !important;
  padding-right: 4px;
  color: var(--siteAll);
  transition: all .2s;
}
.nav-menu-item {
  font-size: 18px;
  line-height: 60px;
  text-transform: capitalize;
  width: max-content;
  position: relative;
  transition: all .3s;
}
.nav-menu-link:hover {
  cursor: pointer;
  color: var(--siteAll);
}
.nav-menu-link {
  display: block;
  padding: 0 12px;
  border-radius: 0 0 4px 4px;
  transition: all .2s;
}
.nav-menu-item:hover > .nav-menu-multi {
  opacity: 1 !important;
  display: block !important;
  pointer-events: all !important;
  transform: translateY(0) !important;
  transition: all .3s;
}
.input-search {
  position: relative;
  line-height: 60px;
  display: inline-flex;
  align-items: center;
  -webkit-box-align: center;
  vertical-align: middle;
  justify-content: center;
}
.search-box input {
  display: inline-block;
  background-color: var(--search);
  color: #fafafa;
  padding: 4px 10px;
  height: 40px;
  border-radius: 10px 0 0 10px;
  border: 0;
  outline: 2px solid var(--search);
  transition: all .15s;
}
.search-box input:hover {
  outline-color: var(--searchout);
  transition: all .15s;
}
.search-box input:focus {
  outline-color: var(--siteAll);
  background-color: var(--searchh);
  transition: all .15s;
}
.search-box button {
  position: relative;
  top: 1px;
  right: 3px;
  background-color: var(--searchbtn);
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  width: 38px;
  height: 44px;
  border: 0;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  transition: all .3s;
}
.search-box button:hover {
  background-color: var(--siteAll);
  transition: all .3s;
}
/* TOGGLE */
.nav-toggle {
  color: white;
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  cursor: pointer;

  display: none;
}

/* LISTA DE EMISION */
.emisionList {
  border: 0;
  padding: 10px 10px 0 10px;
  margin: 0;
}
.emisionList li {
  display: flex;
}
.emisionLink {
  color: var(--text);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: all .3s;
}
.emisionLink:hover {
  color: var(--siteAll);
  transition: all .3s;
}
.emisionLink:hover > .fa-circle-play {
  opacity: .6;
  transition: all .3s;
}
.emisionLink .fa-circle-play {
  padding-right: 7px;
  position: relative;
  top: 1px;
  color: #27ff00;
  transition: all .3s;
}
/* MOBILE */
@media (max-width: 768px) {
  .main__page {
    display: none !important;
  }
  .main-rules .Sidebar {
    display: none !important;
  }
  .main-rules .main {
	width: 100% !important;
  }
  .header {
    height: 60px;
  }
  .nav {
    margin: 0 10px;
  }
  .nav-left, .nav-right {
    width: max-content;
  }
  .logo {
    font-size: 32px;
    padding: 0 20px;
    line-height: 52px;
  }
  .mobile-logo {
    display: block;
  }
  .desktop-logo {
    display: none;
  }
  .nav-menu {
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: #101014;
    position: fixed;
    top: 60px;
    width: 100%;
    padding: 20px 0;
	z-index: 999;
    height: calc(100% - 60px);
    overflow-y: auto;

    left: 100%;
    transition: left 0.3s;
  }
  .input-search {
    display: none !important;
  }
  .nav-menu-item {
    line-height: 70px;
  }

  .nav-menu-link:hover,
  .nav-menu-link_active {
    background: none;
    color: #83c5f7;
  }

  .nav-toggle {
    display: block;
	line-height: 60px;
  }

  .nav-menu_visible {
    left: 0;
  }
  .fix_header {
    position: fixed !important;
    z-index: 999 !important;
  }
  .nav-toggle:focus:not(:focus-visible) {
    outline: none;
  }
  .main-post {
    flex-direction: column;
  }
  .main-content {width: 100% !important;padding: 5px 0 !important}
  .out_card {display: none !important}
  .main-content .image {padding-top: 60% !important}
  .main-content .image img {top: -50% !important;height: auto !important}
  .blg-section-top {flex-direction: column}
  .blg-showall {width: 100%;margin-bottom: 20px;text-align: center;padding: 2px 8px}
.main-content .text {
font-size: 25px !important;
position: absolute !important;
top: unset !important;
bottom: 8px;
width: -webkit-fill-available !important;
padding: 0 30px 0 20px !important;
background: #111b !important;
margin: 0 4px !important;
border-radius: 0 0 3px 3px !important;
white-space: nowrap !important;
text-overflow: ellipsis !important;
opacity: 1;
transition: all .3s
}
.main-content:hover > .gallery__href > .text {
bottom: -40px !important;
opacity: 0 !important;
transition: all .3s
}
.info_post .img_post {display: none !important}
.info_post .sinopsis_post {width: 100% !important;display: flex;flex-direction: column;align-items: center;}
.info2_post {flex-direction: column;overflow: hidden;}
.main .poster_ttl {padding-left: 20px !important;text-align: center;}
}
.tbl_dsc {overflow: auto !important}
/* PAGE */
.main-rules .main {
  padding: 12px 10px 12px 20px;
}
.main-rules .Sidebar {
  padding: 12px 20px 12px 10px;
  border-radius: 10px;
}
.main-rules .Sidebar .HTML, .main-rules .Sidebar .anuncio, .main-rules .Sidebar .Label, .main-rules .Sidebar .LinkList, .main-rules .Sidebar .Blog{
  background-color: #303030;
  border-radius: 0 0 4px 4px;
  padding: 8px 0;
  margin-bottom: 15px;
  border-top: 3px solid var(--siteAll) !important;
  border: 2px solid #222;
}
#HTML1 {overflow:hidden}
.container.main-rules {
  display: flex;
}
.main-rules .main .title {
  width: max-content;
  cursor: default;
}
.blg-section-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blg-showall {
  height: max-content;
  padding: 4px 8px;
  border-radius: 10px;
  background: #222;
  color: var(--text);
  transition: all .3s;
}
.blg-showall:hover {
  background: var(--siteAll);
  transition: all .3s;
}
.Sidebar .title {
  position: relative;
  display: block;
  color: var(--text);
  font-size: 20px;
  text-transform: capitalize;
  text-align: center;
  width: 100%;
  border-bottom: 2px solid #222;
  margin-bottom: 5px;
  cursor: default;
}
.lista-emision {
  display: list-item;
  margin: 5px 10px 0 10px;
  padding: 0;
}
.lista-emision li {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  padding-left: 3px;
}
.lista-emision li a {
  color: var(--text);
  transition: all .2s;
}
.lista-emision li a:hover {
  color: var(--siteAll);
  transition: all .2s;
}
.lista-emision li a:hover > .fa-circle-play {
  filter: opacity(0.7);
  transition: all .2s;
}
.lista-emision .fa-circle-play {
  color: var(--emision);
  position: relative;
  top: 2px;
  padding-right: 4px;
  transition: all .2s;
}
.anuncio .img-ads {
  position: relative;
  margin: 10px;
}
.anuncio .image {
  position: relative;
  padding-top: 100%;
  width: 100%;
  border-radius: 4px;
}
.anuncio .image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 4px;
}
.fa-solid.fa-meteor{
  position: relative;
  top: 0;
  padding-right: 5px;
  color: var(--siteAll);
}
#Sidebar .fa-buysellads, .fa-calendar-day, .fa-tags, .fa-tag, .fa-calendar-days{
  position: relative;
  top: 1px;
  padding-right: 5px;
  color: var(--siteAll);
  transition: all .2s;
}
.fa-user-group {
  padding-right: 5px;
  color: var(--siteAll);
}
.list-genr a:hover > .fa-tag{
  color: var(--text);
  transition: all .2s;
}
.fa-clock {
  position: relative;
  top: 2px;
  padding-right: 5px;
  color: var(--text);
}
.fa-rotate-right {
  color: #fff;
  font-size: 25px;
  padding: 14px;
  animation-name: load;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
@keyframes load {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(359deg);
  }
}
.stns-alert {
  width: 100%;
  align-items: center;
  text-align: center;
  cursor: default;
}
.main-post {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  justify-content: left;
}
.main-content .image {
  border-radius: 6px;
  overflow: hidden;
  z-index: 1;
  padding-top: 135%;
  display: block;
  position: relative;
  border: 4px solid var(--feature);
  transition: all .3s;
}
.main-content .gallery__href .image:hover > .layout-hvr {
  background: #ff003361;
  z-index: 2;
  transition: all .2s;
}
.main-content .layout-hvr {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  transition: all .2s;
}
.main-content .layout-hvr .btn-down {
  z-index: 3;
  position: relative;
  width: 48px;
  height: 48px;
  color: var(--text);
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-content .layout-hvr .fa-download:before {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
  top: 0;
  left: 0px;
  border-radius: 50%;
  transform-origin: center center;
  transform: scale(0);
  transition: all .3s;
}
.main-content .image:hover .btn-down:before {
  transform: scale(1);
}
.main-content .image img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.main-content .text {
  position: relative;
  display: inline-block;
  top: 12px;
  width: 100%;
  text-align: center;
  font-size: 16px;
  z-index: 1;
  color: var(--text);
  overflow: hidden;
  transition: all .3s;
}
.main-content .text:hover {
  color: var(--siteAll);
  transition: all .3s;
}
/* FILTRO DE BUSQUEDA */

#filter-search {
  position: absolute;
  top: 60px;
  width: calc(100% - 33px);
  background-color: var(--search);
  border-radius: 4px;
  padding: 8px 12px 4px 12px;
  z-index: 2;
  box-shadow: 0 0 5px #111;
  overflow: hidden;
  max-height: 150px;
  display: none;
}
#filter-search li a {
  color: #f2f2f2;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: all .15s;
}
#filter-search li a:hover {
  color: #bbb;
  transition: all .15s;
}
.list-genrs {
  padding: 0;
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
}
.list-genr:hover {
  background: var(--siteAll);
  transition: all .2s;
}
.list-genr {
  background: #4c4c4c;
  width: 48%;
  margin: 1%;
  cursor: pointer;
  border-radius: 4px;
  transition: all .2s;
}
.list-genr a {
  color: var(--text);
  width: 100%;
  display: block;
  height: 100%;
  padding: 3px 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.nav-menu-multi {
  background: var(--hcolor);
  border-radius: 5px;
  padding: 0;
  margin: 0;
  position: absolute;
  width: max-content;
  box-shadow: 0 4px 8px rgb(0 0 0 / 16%), 0 6px 16px rgb(0 0 0 / 5%);
  z-index: 4;
  opacity: 0;
  transform: translateY(-5%);
  pointer-events: none;
  transition: all .2s;
}
.nav-menu-multi-op {
  padding: 2px 8px;
}
.nav-menu-multi-link {
  color: var(--text);
  display: block;
  line-height: 35px;
  transition: all .3s;
}
.nav-menu-multi-link:hover {
  color: var(--siteAll);
  transition: all .3s;
}
.foteer {
  background: var(--hcolor);
}
.foteer .logo_text {
  width: 100%;
  padding: 0 10px;
  display: block;
  color: var(--siteAll);
  text-align: center;
  text-transform: uppercase;
  font-size: 34px;
  opacity: .6;
  font-weight: 600;
  cursor: default;
}
.foteer .disclaimer {
  width: 100%;
  padding: 0 10px;
  text-align: center;
  display: block;
  position: relative;
  bottom: 14px;
  color: #d2d2d266;
}
.footer_link {
  width: 100%;
  padding: 10px 0 0 0;
  margin: 0;
  display: flex;
  color: var(--text);
  justify-content: center;
}
.footer_link li {
  padding: 0 10px;
}
.footer_link a {
  color: var(--text);
  text-transform: uppercase;
  transition: all .2s;
}
.footer_link a:hover {
  color: var(--siteAll);
  opacity: .6;
  transition: all .2s;
}
 /*! Core (No modificar) {{*/
@-webkit-keyframes marquee-y {
   from {transform: translate3d(0, 0, 0);}
   to {transform: translate3d(0, -100%, 0);}
}
@keyframes marquee-y {
   from {transform: translate3d(0, 0, 0);}
   to {transform: translate3d(0, -100%, 0);}
}
@-webkit-keyframes marquee-y-inset {
   from,to {
      transform: translate3d(0, calc(0px - var(--marquee-y)), 0);
   }
   50% {
      transform: translate3d(0, calc(-100% + var(--marquee-y)), 0);
   }
}
@keyframes marquee-y-inset {
   from,to {
      transform: translate3d(0, calc(0px - var(--marquee-y)), 0);
   }
   50% {
      transform: translate3d(0, calc(-100% + var(--marquee-y)), 0);
   }
}
.marquee-y {
   --marquee-y: 300px;
   overflow: hidden;
   position: relative;
   height: var(--marquee-y);
}
.marquee-y-content {
   -webkit-animation-iteration-count: infinite;
           animation-iteration-count: infinite;
   width: 100%;
}
.marquee-y-content:hover {-webkit-animation-play-state: paused;animation-play-state: paused}
.marquee-y-item {display: block;}
.marquee-y-image {width: 100%;margin-bottom:10px;border-radius:6px}
.marquee-y-content {padding-top: var(--marquee-y);}
/*}} Fin del core {{*/

/*! PersonalizaciÃƒÆ’Ã‚Â³n */
/* Contenedor
-----------------------------------------*/
.marquee-y {
   --marquee-y: 300px; /* alto */
}
/* Animacion
-----------------------------------------*/
.marquee-y-content {
   -webkit-animation-duration: 10s;
           animation-duration: 10s; /* velocidad */
   -webkit-animation-timing-function: linear;
           animation-timing-function: linear; /* flujo */
   -webkit-animation-name: marquee-y;
           animation-name: marquee-y; /* nombre (marquee-y | marquee-y-inset) */
}
/*
]]>*/
