/*<![CDATA[*/
.mySlides {display: none;height:280px}
.mySlides img {vertical-align: middle;top:-50%;position:absolute;left:0;width:100%}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  height: 310px;
  overflow: hidden;
  border-radius: 10px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 35%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.5);
  color: #cc2e36;
}

/* Caption text */
.content__slider {
  color: #f2f2f2;
  background: #cc2e36db;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: space-between;
}
.info__slider {
  width: 70%;
  display: flex;
  flex-direction: column;
}
.info__slider span {
  font-weight: 600;
  font-size: 18px;
  margin: 0;
  padding: 0 0 2px 0;
}
.info__slider p {
  margin: 0;
  padding: 0;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}
.down__slider {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    padding: 0 10px;
}
.down__slider a {
    width: 100%;
    padding: 12px 18px;
    background: #111;
    color: #fefefe;
    border: 2px solid #ce4950;
    border-radius: 25px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
}
.down__slider a:hover {
    color: #cc2e36;
    transition: all .3s;
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #111b;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #cc2e36bb;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
.dot-container {
  position: absolute;
  right: 10px;
  top: 5px;
  z-index:3;
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
.alert {
  margin-top: 10px;
  padding: 10px 20px;
  border-left: 7px solid #A02;
  background-color: #1a1a1a;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: #ffffff50;
}
.blog-pager {display:none !important}
.main-content {
  width: 25%;
}
.feature-container {
  background-color: var(--feature);
  border-radius: 4px;
  margin: 12px 10px;
  padding: 10px;
}
.feature-container .title, .main .title {
  position: relative;
  display: block;
  color: var(--text);
  font-size: 28px;
  text-transform: capitalize;
  margin: 6px 10px;
  cursor: default;
}
.feature-post {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  margin: 0;
  padding: 0;
  justify-content: flex-start;
}
.feature-content {
  overflow: hidden;
  width: 20%;
  position: relative;
  border-radius: 4px;
  margin: 5px;
}
.main-content {
  overflow: hidden;
  position: relative;
  padding: 5px 5px 20px 5px;
}
.feature-content .image {
  border-radius: 4px;
  overflow: hidden;
  z-index: 1;
  padding-top: 135%;
  display: block;
  transition: all .3s;
}
.feature-content .image img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  z-index: 1;
  margin: 0;
  padding: 0;
}
.feature-content .layout-hvr {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  transition: all .2s;
}
.feature-content .gallery__href:hover > .image > .layout-hvr {
  background: #0000009c;
  z-index: 2;
  transition: all .2s;
}
.feature-content .layout-hvr .fa-play:before {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  top: 0;
  left: 0px;
  border-radius: 50%;
  transform-origin: center center;
  transform: scale(0);
  transition: all .3s;
}
.feature-content .layout-hvr .btn-play {
  z-index: 3;
  position: relative;
  width: 48px;
  height: 48px;
  color: var(--text);
  display: flex;
  justify-content: center;
  align-items: center;
}
.feature-content:hover .btn-play:before {
  transform: scale(1);
}
.feature-content .text {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 14px;
  z-index: 2;
  color: #fff;
  padding: 6px 4px;
  overflow: hidden;
  transform: scale(0);
  pointer-events: none;
  transition: all .3s;
}
.feature-content .gallery__href:hover > .text {
  transform: scale(1);
}
/*]]>*/
